<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongang.mapper.BoardMapper">

<select id="getList" resultType="com.joongang.domain.BoardVO">
	<![CDATA[select * from tbl_board]]>
</select>

<select id="getListWithPaging" resultType="com.joongang.domain.BoardVO">
	<![CDATA[select @rownum:=@rownum+1 as rn, bno, title, content, writer, regdate, updatedate, replycnt 
	from test.tbl_board, (select @rownum:=0) A]]>
	<include refid="criteria"/> 
	<![CDATA[order by rn desc limit #{offset} , #{amount}]]>
</select>


<select id="read" resultType="com.joongang.domain.BoardVO">
	<![CDATA[select * from tbl_board where bno=#{bno}]]>
</select>

<select id ="getTotalCount" resultType="int">
	<![CDATA[select count(bno) from tbl_board where]]>
	<trim suffix="and" prefixOverrides="where">
		<include refid="criteria"/>
	</trim>
	<![CDATA[bno>0]]>
</select>

<insert id="insert" useGeneratedKeys="true"  keyProperty="bno">
	insert into tbl_board (title, content, writer) values(#{title}, #{content}, #{writer})
</insert>

<update id="update">
	update tbl_board set title=#{title}, content=#{content},
	 writer=#{writer} where bno = #{bno}
</update>

<update id="updateReplyCnt">
	update tbl_board set replycnt= replycnt + #{amount} where bno = #{bno}
</update>

<delete id="delete">
	delete from tbl_board where bno=#{bno}
</delete>

<sql id="criteria">
	<where>
		<trim prefix="(" suffix=")" prefixOverrides="or">
			<foreach item="type" collection="typeArr">
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							title like concat('%',#{keyword}, '%')
						</when>
						<when test="type == 'C'.toString()">
							content like concat('%', #{keyword},'%')
						</when>
						<when test="type == 'W'.toString()">
							writer like concat('%', #{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</where>
</sql>

</mapper>